.frame {
    /* height: 100%; */
    min-height: 670px;
    max-width: 390px;
    background: radial-gradient(rgb(22, 135, 237), rgb(47, 91, 135));
    height: 100vh;
    overflow: hidden;
}

.map {
    min-height: 670px;
    max-width: 390px;
    height: 100vh;
    overflow: hidden;
    background: url('/images/map.png') no-repeat;
    animation: ani 4s forwards
}

@keyframes ani {
    0% {
        background-position: center center;
        background-size: 190%;
    }

    100% {
        background-position: -21rem -24rem;
        background-size: 360%;

    }
}